@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

body {
    background-color: black;
    color: white;
}

#mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.joke-card {
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50em;
    min-height: 10em;
    border: 1px solid black;
    background-color: rgb(82, 82, 82);
    border-radius: 6px;
    text-shadow: 1px 1px 2px black;
}
